{%extends "base.html"%}
{%block body%}

<!--

      Search Text
    Course | Section
    Year   | Semester
       Department(drop)

	Needs:
		* a list of departments
		* and the list for semester is pre-defined

-->

<div class="container ">
	<div class="module">
		<div class="row">
			<form action="/search" method='post'>
				<!--  Centered, Full Width Search-->
				<div class="col s8 offset-s2">
					<input autofocus  name="course" class="input-field" type="search" placeholder="Search Text Here" >
				</div>

				<div class="col s12"><p>&nbsp;</p></div>

				<!-- Left Col -->
				<div class="col s6">

						<input name="Course" class="input-field"\
						type="search" placeholder="Course" >

						<select class="downer" name="semester">
						<option value="" disabled\
							selected>Select Semester</option>
								<option value="Fall">Fall</option>
								<option value="Spring">Spring</option>
								<option value="Summer">Summer</option>
						</select>

				</div>

				<!-- Right Col -->
				<div class="col s6">
					<input name="course" class="input-field"\
					type="search" placeholder="Section" >

					<input name="course" class="input-field"\
					type="search" placeholder="Year" >
				</div>

				<div class="col s12">
					<select class="downer" name="department">
						<option value="" disabled selected> Select Department</option>
						{%for dept in depts%}
						<option value="{{dept}}"> {{dept}} </option>
						{% endfor %}
					</select>
				</div>

				<div class="col s12 center-align">
					<a class="waves-effect waves-light btn-large">
						<i class="large material-icons right">search</i>
						search
					</a>
				</div>

				<input type="submit" hidden="">
			</form>
		</div>
	</div>
</div>

{%endblock%}
