<!DOCTYPE html>
<html>
	<head>
		<title>SMS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="static/js/search.js"></script>
		<link rel="stylesheet" href="/static/css/main.css">
	</head>
	<body>

		<nav class="nav-extended">
			<div class="indigo nav-wrapper">
				<a href="" class="left" style="height:64px;"> <img src="/static/images/icon.png" style="height:64px;width:auto;" > </a>	
				<!--
					login and user info
				-->
				{%- if current_user.is_authenticated -%}
				<ul class="right downerer hide-on-small-only" style="padding-right:5px;">
					<a class="btn indigo accent-2" href="/">
						<li>
							<img src="{{current_user.avatar}}?sz=25" width="25"
							height="25" style="margin-top:4px;" alt="{{current_user.name}}">
						</li>
						<li style="margin-left:5px;">
							{{current_user.name}}
						</li>
					</a>
					<a class="btn indigo accent-2" href="{{url_for('logout')}}">
						<li style="margin-left:3px;">Logout</li>
					</a>
				</ul>
				{%- else -%}
				<ul class="right downerer" style="padding-right:5px;">
					<li><a class="btn indigo accent-2" href="{{auth_url}}">Login With Google</a></li>
				</ul>
				{%- endif -%}

				<form action="/search" method='post'>
				<ul class="right">
						<li>
							<input autofocus name="search_text" class="input-field hide-on-med-and-down" type="search" placeholder="Search" >
						</li>
						<li>
							<input type="submit" hidden="">
						</li>
						<li><a class="waves-effect waves-light btn">Advanced Search</a></li>	
				</ul>
				</form>

			</div>
		</nav>

		{% block body %}
		{% endblock %}
	</body>
</html>
