<!DOCTYPE html>
<html>
	<head>
		<title>SMS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
		<script src="static/js/search.js"></script>
	</head>
	<body>
		<nav class="indigo nav-extended">
			<div class="nav-wrapper nav-content container">
				<br><!-- DO NOT REMOVE. Makes the navbar behave. -->
				<a id="logo-container" href="#" class="brand-logo left">SMS</a>
				<!-- 
		Show user info, or login button.
		This needs to befirst. materialize makes a queue for left/right classes.
		If moved after the search stuff it gets put before it... weird design.
				-->
				{%- if current_user.is_authenticated -%}
				<ul class="right" >
					<!--<li><a href="#">Upload</a></li>-->
					<li> 
						<a class="btn" href="#">{{current_user.name}}</a>
					</li>

					<a class="btn" href="{{url_for('logout')}}">
					<li>
						<img src="{{current_user.avatar}}?sz=20" width="20"
						height="20" style="margin-top:8px;" alt="{{current_user.name}}">
					</li>
					<li style="margin-left:3px;">
						Logout
					</li>
						</a>
				</ul>
				{%- else -%}
				<a href="{{url_for('login')}}" class="btn btn-primary btn-block">Login</a>
				{%- endif -%}

				<!-- 
		Everything related to search
				-->
				<form class="right" action="/search">
					<!-- Semester, Department, Year etc-->
					<div style="display:inline-block;">
						<select class="input-field">
							<option value="" disabled selected>Select Semester</option>
							<option value="1">Fall</option>
							<option value="2">Spring</option>
							<option value="3">Summer</option>
						</select>
					</div>
					<div style="display:inline-block">
						<select class="input-field">
							<!--
		   How should we fill this with data?
		   I sure as shit am not onna type all that nonsense in.
							-->
							<option value="" disabled selected>Select Department</option>
							<option value="1">lol</option>
							<option value="2">balls</option>
							<option value="3">hell no</option>
						</select>
					</div>

					<div style="display:inline-block">
						<input autofocus type="search" id="search" list="results" class="form-control input-field" style="display:inline-block" placeholder="Search">
						<!--<input id="search" list="results">-->
						<datalist id="results"></datalist>
						<!--<button type="submit" class="btn btn-default btn-sm">Search</button>-->
					</div>
				</form>


			</div><!-- /.navbar-collapse -->
		</nav>

		{% block body %}
		{% endblock %}
	</body>
</html>
