{% extends "base.html" %}
{% block body %}
{% if current_user.is_authenticated %}
{% if adm %}
<div class="row">

</div>
<div class="row">
	<div id="queue" class="col s12 m4 l4 xl4">
		<h5>Queue</h5>
		{% for item in pending %}
		{% endfor %}
	</div>
	<div class="col s12 m4 l4 xl4">
		<h5>Add a course:</h5>
		<form method="POST" action="/add">
			Year:<br>
			<input type="text" name="year" value="2017"><br>
			Semester:<br>
			<select class="input-field" name="semester">
				<option value="Spring">Spring</option>
				<option value="Summer">Summer</option>
				<option value="Fall">Fall</option>
			</select>
			Department:<br>
			<input type="text" name="department" value="CS"><br>
			Course ID:<br>
			<input type="text" name="cid" value="10001"><br>
			Section:<br>
			<input type="text" name="section" value="001"><br>
			Instructor:<br>
			<input type="email" name="instructor" value="capstone.teacher.one@gmail.com"><br>
			<input class="btn-large" type="submit" value="submit">
		</form>
	</div>
	<div class="col s12 m4 l4 xl4">
		<h5>Remove a course:</h5>
		<form method="POST" action="/remove">
			Year:<br>
			<input type="text" name="year" value="2017"><br>
			Semester:<br>
			<select class="input-field" name="semester">
				<option value="spring">Spring</option>
				<option value="summer">Summer</option>
				<option value="fall">Fall</option>
			</select>
			Department:<br>
			<input type="text" name="department" value="CS"><br>
			Course ID:<br>
			<input type="text" name="cid" value="10001"><br>
			Section:<br>
			<input type="text" name="section" value="001"><br>
			<input class="btn-large" type="submit" value="submit">
		</form>
	</div>
</div>
{% endif %}
{% if num > 0 %}
<h5>Your Courses:</h5>
{% for item in courses %}
{{ item }}<br>
{% endfor %}
{% endif %}
{% endif %}
{% endblock %}
