@media print {
	nav {
		display: none !important;
	}
	#syllabus-buttons {
		display: none !important;
	}
	#syllabus {
		margin: 0px !important;
		padding-top: 0px;
		width: 100% !important;
	}
}

#save {
	display: none;
}

#section-header {
	display: inline-block;
}

#section-input {
	display: inline-block;
	width: 300px;
}

#syllabus {
	margin: 25px 0px 25px 0px;
	text-align: left;
	background-color: #ffffff;
	padding: 1em 3em 3em 3em;
}

#section-save {
	display: inline-block;
}
input.input-field {
	margin: 0;
}
.syll {
	margin-top: 10px;
}

.nick-spacer{
	width:5px;
	height:1px;
	display:inline-block;
}

.small-button {
	padding-left:14px;
	padding-right:14px;
}

.module {
	background-color: #ffffff;
	padding: 1.5em;
	margin: 20px 0px 0px 0px;
}

.error-message {
	margin-top: 15px;
}

body {
	background-color: #e9ebee;
}

/* TODO - better workarund? */
.row {
	margin-bottom: 0px;
}

/*
nav {
    height: 128px;
    line-height: 64px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 128px;
    line-height: 64px;
}

nav .button-collapse i {
    height: 128px;
    line-height: 64px;
}

.nav .nav-extended, .nav-wrapper {
	height:128px!important;
	line-height:64px;
}
*/

/* sometimes selects can be a real ...
.downer{
	padding-top:9px;
}
.downerer{
	padding-top:35px;
}
*/

/*
nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 30px;
        line-height: 30px;
    }
}
*/
